
html, body, div, span, object, iframe, section, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, figure, figcaption, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, span, tr, th {
    border: 0px;
    padding: 0px;
    font-size: 100%;
    margin: 0px;
    font-family: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
}
body {
    color: #565656;
    line-height: 20px;
    font-size: 12px;
    font-family:"Arial",'Microsoft Yahei',"Lucida Grande", "Tahoma", "Helvetica", "sans-serif"
    margin: 0px;
}
div {
    display: block;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

input, textarea, select {
    font-family: "Arial",'Microsoft Yahei',"Lucida Grande", "Tahoma", "Helvetica", "sans-serif"
    background-color: #FFFFFF;
    font-size:12px;
    outline:none;
}

html{overflow-x: hidden;}
a, a:link {
    text-decoration: none;
}
a:hover {
    text-decoration:none;
    color:#8c0000;
}
ul, li {
    list-style-type:none;
}
.left {
    float: left;
}
.right {
    float: right;
}

.yahei {
    font-family:"Microsoft Yahei", Arial;
}
.yaheired {
    font-family:"Microsoft Yahei", Arial;
    font-size:1.1em;
    color:#9b0000;
}
h1, h2, h3, h4 {
    font-family:"Microsoft Yahei", Arial;
}
