@charset "utf-8";
/*头部样式*/
a:hover {
  text-decoration:none;
  color:#8c0000;
}
.clearfix:after {
  display:block;
  content:'';
  clear:both;
  height:0px;
  visibility: hidden;
}
.yahei {
  font-family:"Microsoft Yahei", Arial;
}
.clear {
  clear:both;
  overflow:hidden;
  height:0;
}
.clear_f {
  clear:both;
  overflow:hidden;
}
.mainWrap {
  width:1200px;
  margin:auto;
}
.header .topWrap {
  padding:0;
    background:#8f000b url(../images/pkucloud1h100.png) no-repeat top right;
    border-top:0px solid #c40000;
    border-bottom:0px solid #600000;
}
.header .topWrap .mainWrap{
    height:100px;
}
.header .logo {
  float:left;
  _display:inline;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:15px;
}

.header .logo img{
    width:213px;
}
.header .subnavLeft {
  padding-left:10px;
}
.header .search {
  float:right;
  _display:inline;
  margin-top:4px;
  padding-right:10px;
}
.header .search .inp:hover {
  background:#fff;
  opacity:1
}
.header .subNav {
  background:#700005;
}
.header .subNav .menu {
  display:none;
}
.header .subNav li {
  float:left;
  _display:inline;
  padding:6px 2px 6px 3px;
  position:relative;
  z-index:999;
  zoom:1;
}
.header .subNav li a {
  display:block;
  font-size:14px;
  color:#e5e3e3;
  padding:0 5px;
  filter:dropshadow(color=#600000, offx=0, offy=2);
}
.header .subNav li.current {
  background:#fff;
}
.header .subNav li.current a {
  color:#444;
  text-shadow:0px 2px 1px #f3f3f3;
  filter:dropshadow(color=#f3f3f3, offx=0, offy=2);
}
.header .subNavRight {
  float:right!important;
}
.header .nav {
    background-color:#fff;
}
.header .nav #nav{   
    margin:auto;
    width:1024px;
}
.header .nav .menu {
  display:none;
}
.header .nav li {
  float:left;
  _display:inline;
   padding:0 11px 0 11px;
  +padding:0 10px 0 10px;
  z-index:999;
  zoom:1;
}
.header .nav li.nav_first {
    padding-left:0px;
}
.header .nav li.nav_last {
    padding-right:0px;
} 
.header .nav li a.current {
  background: url(../images/nav_cur_red.png) bottom repeat-x
}
.header .nav li a {
  display:block;
  line-height:43px;
  font-size:16px;
  color:#333;
    text-align:center;
    width:125px;
 
}
.header .nav li a:hover, .header .nav li a.hover {
    color:#fff;
  background:#8f000b; 
}
.header .nav li a i {
  padding:0;
    *margin:0 -5px 0 5px;
}
.header .nav li a i:before {
  margin-right:-4px;
}
.header .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#nav .minfoWrap {
  position:absolute;
  background:#fff;
  border-top: 0px solid #8c0000;
  left:0%;
  width:100%;
  z-index:2;
  padding:2em 0;
  display:none;
}
#nav .minfoWrap_inner {
  width:1200px;
  background:#fff;
  margin:0 auto;
}
#nav ul.last {
  right:2px;
}
#nav ul li {
  float:none;
  display:block;
  padding:0;
  margin:0;
}
#nav ul li a {
  background:#fff;
  line-height:24px;
  font-size:14px;
  color:#565656;
  padding:0 0 0 0px;
}
#nav ul li a:hover {
  color:#fff;
  
  color:#8c0000;
}
.nav01 {
  width:160px
}
.nav02 {
  width:300px;
  font-size:14px;
  color:#999;
  line-height:24px;
}
.nav03 {
  width:240px;
  font-size:14px;
  color:#999;
  margin-right:50px;
  line-height:24px;
}
.nav04 {
  width:200px;
}
.nav05 {
  width:150px;
  font-size:14px;
  color:#999;
  margin-right:50px;
  line-height:24px;
}
.fl {
  float:left;
}
.fr {
  float:right;
}
.content {
}
.content .thuimg {
  text-align:center;
}
.content .thuimg .thuimgWrap {
  min-width:1200px;
  overflow:hidden;
  background:url(../images/loading.gif) no-repeat center center;
}
.ssubNav {
  display:none;
}
.ml10 {
  margin-left:10px;
}
.mt10 {
  margin-top:10px;
}
.mb50 {
  margin-bottom:50px;
}
.red {
  color:#8c0000
}
.mainWrap {
    display: block;
  width: 1200px;
    margin: auto;
    min-width: 320px;
}
.searchDIV {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 2px;
    padding-bottom: 7px;
    background-color: #700005;
    display: none;
    width: 160px;
    position: absolute;
    right: 0px;
    top: 32px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
a, a:link {
    text-decoration: none;
    color: #323232;
}
.bouti-tit {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
}
.subNav, .secNav, .leftNav {
    width: 100%;
}

.secNav {
  position: relative;
  }


.secNav {
    width: 1200px;
    height: 40px;
    line-height: 40px;
}
.secNav li {
    float: left;
}
.secNav li a {
    display: block;
    font-size: 14px;
    color: #000;
    font-family: "Microsoft Yahei";
    padding: 0 10px;
}
#intro:hover {
  color: #fff;
  background-color: #8c0000;
}

/*大图样式*/
.big{
	height: 390px;
}
.bg{
	height: 390px;
	width: 1380px;
	margin:0 auto;
	background-image: url(../images/img_about18.jpg);
	display: flex;
    align-items:center;
}

.b{
	position: absolute;
    width: 170px;
    height: 80px;
    z-index: 1;
    text-align: right;  
  }
.b h3{
	font-size: 30px;
    color: #fff;
    line-height: 80px;
 }
.bs{
	position: absolute;
    background: #9b0000;
    width: 200px;
    height: 80px;
    opacity: 0.7;
  }

.navtop{
   width: 1200px;
   height: 40px;
   position: relative;
   list-style: none;


}
.navtop {
	position: relative;
}
.navtop li a{
	left: 145px;
	display: block;
    font-size: 14px;
    color: #000;
    font-family: "Microsoft Yahei";
    padding: 0 10px;
	list-style-type:none;
	float: left;
	margin-top:10px;
	z-index: 4;
    position: relative;
}
#magic-line {
	width: 53px; 
	height: 4px;
	left: 145px;
    position: absolute;
    overflow: hidden;
    top: 0;
    background: #9b0000;
    padding: 0;
}



/*燕园内容*/
.features{
   width:1000px;
   margin:auto;
   text-align:center;
}
.introTit {
  margin-top:50px;
  margin-left:170px;
}
.introTitImg {
  float:left;
  width:120px;
  height:64px;
  background-color:#9b0000;
  background-image:url(../images/smallPic7.jpg);
}
.introTit h2 {
  float:left;
  padding:0 27px;
  border-bottom:3px solid #9b0000;
  font-size:24px;
  line-height:61px;
  padding-left:20px;
  width:auto;
  padding-right:20px;
}
ul.featureslist li{
   float: left;
   margin:20px;
   width:270px;
}
ul.featureslist li a{
   display:block;
   height:130px;
   width:270px;
   color: black;
   position:relative;
}
ul.featureslist li a *{
    transition: all 0.3s ease 0s, -moz-transform 0.3s ease 0s;
}
ul.featureslist li img{
   height:130px;
   width:270px;
}
ul.featureslist span{
   display:block;
   width:250px;
   height:0px;
   text-align:left;
   background-color:#000;
   color:#fff;
   opacity:0.5;
   font-family:"Microsoft Yahei";
   font-size:14px;
   padding:0px 10px 0px 10px;
   position:absolute;
   left:0%;
   bottom:0%;
   overflow:hidden;
}
ul.featureslist li a:hover span{
   height:42px;
}


/*底部样式*/
.footer{
   background: url(../images/f_bg.jpg) no-repeat center top;
   height: 253px;
   border-top: 1px solid #af0a1a;
}
.footer div.img_list {
    width: 660px;
    position: absolute;
    padding: 0;
    top: 105px;
    right: 20px;
    z-index: 9;
    background-color: #fff;
}
.footer .img_list {
    display: none;
}
.footer .img_list div {
    float: left;
    width: 110px;
    height: 100px;
    padding: 10px 0;
    text-align: center;
    color: #8f000b;
}
.footer .img_list div img {
    width: 86px;
    height: 86px;
}
.fot1{
   width: 1070px;
   height: 215px;
   margin:0 auto;
   display: flex;
   align-items:center;
}
.fot1_left{
   width: 318px;
   height: 169px;
   float: left;
   border-left: 1px solid #7a0000;
   border-right: 1px solid #7a0000;       
}
.fot1_left .sf a:hover {
   color: black;
}
.sf{
   width: 256px;
   height: 144px;
   margin:0 auto; 
}
.sf a{
   width: 122px;
   height: 24px;
   margin-left: 50px;
   font-size:15px;
   color: #fff
}
.ss{
   width: 256px;
   height: 20px;
}
.fot_cen {
   padding: 59px 91px 0 96px;
   width: 172px;
   float: left;
}
.fot_cen img {
   height: 49px;
   width: 172px;
   
}
.fot1_cen{
   width: 359px;
   height: 107px;
   float: left;
   margin:0 auto;
}

.fot1_cen img{
   height: 50px;
   width: 172px;
   margin-top:30px;
   margin-left: 75px;
}
.fot1_right{
   width: 323px;
   height: 169px;
   float: left;
   border-left: 1px solid #7a0000;
   border-right: 1px solid #7a0000;   
}

#l2{
   width: 256px;
   height: 140px;
   margin:0 auto;
}
.db{
   width: 256px;
   height: 40px;
}
.bd{
   width: 256px;
   height: 15px;
}
#l2 a{
   margin-left: 20px;
}
.fot2{
   height: 35px;
   background-color: black;
   display: flex;
   align-items:center;
}
.fot2 a{
   margin:0 auto;
  color: white;
   font-size:10px;
}


/*回到顶部样式*/


#gotoTop {
  font-weight: bold;
  height: 20px
    display: none;
    position: fixed;
    top: 75%;
    right: 10px;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 520px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border: 2px dotted #e0e0e0;
    background: #fff;
    z-index: 99;
}
#gotoTop:hover {
  font-weight: bold;
  color:#fff;
  height: 20px
    display: none;
    position: fixed;
    top: 75%;
    right: 10px;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 520px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border: 2px dotted #e0e0e0;
    background: #8c0000;
    z-index: 99;
}
